# CMake
build/
CMakeCache.txt
cmake_install.cmake

# clangd
compile_flags.txt
.clang-format

# Build artifacts
output
*.o
CMakeFiles/
__pycache__/
*.obj
*.exe
/unit.pc
/Makefile

# Documentation
.venv/
docs/_build/

# BrainFuck compiler example
*.bf

# Sample files
a.py
a.c
